<template>
  <div>
    <create-component :created="charge" :url="'api/charges'">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="name">Nombre</label>
          <input id="name" type="text" placeholder="Nombre" class="form-control" v-model="charge.name">
        </div>
      </div>
    </create-component>
  </div>
</template>

<script type="text/javascript">
  import Vue from 'vue'
  import vSelect from 'vue-select'

  Vue.component('v-select', vSelect)
  Vue.component('create-component', require('../../../components/CreateComponent.vue').default)
  export default {
    props: ['charge']
  }
</script>
