<template>
  <div>
    <edit-component :edited="user" :size="'modal-lg'" :url="'api/users'">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="code">Cedula</label>
          <input id="code" type="text" placeholder="Cedula" class="form-control" v-model="user.code">
        </div>
        <div class="form-group">
          <label for="namlast">Nombre y Apellido</label>
          <div id="namlast" class="input-group">
            <input type="text" class="form-control" v-model="user.name" placeholder="Nombre">
            <input type="text" class="form-control" v-model="user.lastname" placeholder="Apellido">
          </div>
        </div>
        <div class="form-group">
          <label for="forwarding">Unidad</label>
          <v-select label="name" :options="units" v-model="unit"></v-select>
        </div>
        <div class="form-group">
          <label for="forwarding">Cargo</label>
          <v-select label="name" :options="charges" v-model="charge"></v-select>
        </div>
        <div class="form-group">
          <label for="email">Correo</label>
          <input id="email" type="email" placeholder="Correo" class="form-control" v-on:focus="getEmail" v-model="user.email">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="password">Clave</label>
          <input id="password" type="text" placeholder="Clave" class="form-control" @focus="getPassword" v-model="user.password">
        </div>
        <div class="form-group">
          <label for="forwarding">Reenvio</label>
          <v-select label="code" :options="users" taggable v-model="forwarding">
            <template slot="option" slot-scope="option">
              <div class="">
                <h6><strong>{{ option.name }}</strong></h6>{{ option.code }}
              </div>
            </template>
          </v-select>
        </div>
        <div class="form-group">
          <label for="mega_recovery">Clave de recuperacion de Mega</label>
          <input id="mega_recovery" type="text" placeholder="Clave de Mega" class="form-control" v-model="user.mega_recovery">
        </div>
        <div class="form-group">
          <label for="pc_user">Usuario PC</label>
          <input id="pc_user" type="text" placeholder="Usuario PC" class="form-control" v-model="user.pc_user">
        </div>
        <div class="form-group">
          <label for="pc_password">Clave Pc</label>
          <input id="pc_password" type="text" placeholder="Clave PC" class="form-control" v-model="user.pc_password">
        </div>
        <div class="form-check">
          <input id="active" class="form-check-input" type="checkbox" v-model="user.active">
          <label class="form-check-label" for="active">
            Activo
          </label>
        </div>
      </div>
    </edit-component>
  </div>
</template>

<script type="text/javascript">
  import Vue from 'vue'
  import vSelect from 'vue-select'

  Vue.component('v-select', vSelect)
  Vue.component('edit-component', require('../../components/EditComponent.vue').default)
  export default {
    props: ['user'],
    computed: {
      unit: {
        get: function () {
          return {
            code: this.user.unit.id,
            name: this.user.unit.name
          }
        },
        set: function (newValue) {
          if (newValue !== null){
            this.user.unit_id = newValue.code
            this.user.unit.id = newValue.code
            this.user.unit.name = newValue.name
          }else {
            this.user.unit_id = ''
            this.user.unit.id = 'Seleccione'
            this.user.unit.name = 'Seleccione'
          }
        }
      },
      charge: {
        get: function () {
          return {
            code: this.user.charge.id,
            name: this.user.charge.name
          }
        },
        set: function (newValue) {
          if (newValue !== null){
            this.user.charge_id = newValue.code
            this.user.charge.id = newValue.code
            this.user.charge.name = newValue.name
          }
          else{
            this.user.charge_id = ''
            this.user.charge.id = 'Seleccione'
            this.user.charge.name = 'Seleccione'
          }
        }
      },
      forwarding: {
        get: function () {
          let forwarding = {
            code: this.user.forwarding,
            label: this.user.forwarding
          }
          for (let user of this.users) {
            if(user.code === forwarding.code) forwarding.label = user.label
          }
          return forwarding
        },
        set: function (newValue) {
          if (newValue !== null)
            this.user.forwarding = newValue.code
          else
            this.user.forwarding = ''
        }
      }
    },
    data(){
      return {
        units: [
          {code: 'Seleccione', label: 'Seleccione'}
        ],
        charges: [
          {code: 'Seleccione', label: 'Seleccione'}
        ],
        users: []
      }
    },
    methods: {
      getEmail(){
        if(this.user.email === '' & this.user.name !== '' & this.user.lastname !== ''){
          let email = `${this.user.name.toLowerCase()}${this.user.lastname.toLowerCase()}@multiapoyo.com.ec`
          this.user.email = email .normalize('NFD')
                                  .replace(/([aeio])\u0301|(u)[\u0301\u0308]/gi,"$1$2")
                                  .normalize();
        }
      },
      getPassword(){
        if(this.user.password === '' & this.user.name !== '' & this.user.lastname !== '' & this.user.code !== ''){

          let name = this.user.name
          let lastname = this.user.lastname
          let code = this.user.code

          let password = `${lastname.charAt(0).toUpperCase()}${lastname.charAt(lastname.length-1).toLowerCase()}${name.charAt(0).toUpperCase()}${name.charAt(name.length-1).toLowerCase()}`
          password = password .normalize('NFD')
                              .replace(/([aeio])\u0301|(u)[\u0301\u0308]/gi,"$1$2")
                              .normalize();

          password += `*${code.substr(6,4)}`

          let special = lastname.charAt(0).toLowerCase();
          switch (special) {
            case 'a':
              password+='?';
              break;
            case 'e':
              password+='*';
              break;
            case 'i':
              password+='#';
              break;
            case 'o':
              password+='&';
              break;
            case 'u':
              password+='.';
              break;
            default:
              password+=special;
          }
          this.user.password = password
        }

      }
    },
    mounted(){
      $('#edit').on('show.bs.modal', e => {
        axios.get('api/units?pagination=none').then(response => {
          for (let unit of response.data) {
            this.units.push({name: unit.name, code: unit.id})
          }
        })
        axios.get('api/charges?pagination=none').then(response => {
          for (let charge of response.data) {
            this.charges.push({name: charge.name, code: charge.id})
          }
        })
        axios.get('api/users?pagination=none').then(response => {
          for (let user of response.data) {
            this.users.push({name: user.name, code: user.email})
          }
        })
      })
    }
  }
</script>
