<template>
  <div>
    <import-component
      :fields="fields"
      url="api/users"
    >
    </import-component>
  </div>
</template>

<script>
  import Vue from 'vue'
  Vue.component('import-component', require('../../components/ImportComponent.vue').default)

  export default {
    data(){
      return {
        fields: [
          {
            key: 'code',
            label: 'Cedula',
            formatter: value => (value === '' || value === undefined) ? 'N/A': value,
            sortable: true
          },
          {
            key: 'name',
            label: 'Nombre',
            formatter: value => (value === '' || value === undefined) ? 'N/A': value,
            sortable: true
          },
          {
            key: 'lastname',
            label: 'Apellido',
            formatter: value => (value === '' || value === undefined) ? 'N/A': value,
            sortable: true
          },
          {
            key: 'unit',
            label: 'Unidad',
            formatter: value => (value === '' || value === undefined) ? 'N/A': value,
            sortable: true
          },
          {
            key: 'charge',
            label: 'Cargo',
            formatter: value => (value === '' || value === undefined) ? 'N/A': value,
            sortable: true
          },
          {
            key: 'email',
            label: 'Correo',
            formatter: value => (value === '' || value === undefined) ? 'N/A': value,
            sortable: true
          },
          {
            key: 'password',
            label: 'Clave',
            formatter: value => (value === '' || value === undefined) ? 'N/A': value,
            sortable: true
          },
          {
            key: 'forwarding',
            label: 'Redireccion',
            formatter: value => (value === '' || value === undefined) ? 'N/A': value,
            sortable: true
          },
          {
            key: 'mega_recovery',
            label: 'Recuperación de Mega',
            formatter: value => (value === '' || value === undefined) ? 'N/A': value,
            sortable: true
          },
          {
            key: 'pc_user',
            label: 'Usuario PC',
            formatter: value => (value === '' || value === undefined) ? 'N/A': value,
            sortable: true
          },
          {
            key: 'pc_password',
            label: 'Clave PC  ',
            formatter: value => (value === '' || value === undefined) ? 'N/A': value,
            sortable: true
          },
          {
            key: 'active',
            label: 'Activo',
            formatter: value => (value) ? 'Si': 'No',
            sortable: true
          }
        ]
      }
    }
  }
</script>
