<template>
  <div>
    <show-component>
      <div class="col-sm-12">
        <div class="form-group">
          <label class="font-weight-bold" style="font-size: 24px;"> {{ user.name }} {{ user.lastname }}</label>
        </div>
        <hr>
      </div>
      <div class="col-sm-6">
        <label><strong>Unidad:</strong> {{ user.unit.name }} </label>
        <label><strong>Correo:</strong> {{ user.email }} </label>
        <label><strong>Clave:</strong> {{ user.password }} </label>
        <label><strong>Codigo:</strong> {{ user.code }} </label>
        <label><strong>Cargo:</strong> {{ user.charge.name }} </label>
      </div>
      <div class="col-sm-6">
        <label><strong>Reenvio:</strong> {{ user.forwarding }} </label>
        <label><strong>Clave de Mega:</strong> {{ user.mega_recovery }} </label>
        <label><strong>Usuario de PC:</strong> {{ user.pc_user }} </label>
        <label><strong>Clave de PC:</strong> {{ user.pc_password }} </label>
        <label><strong>Activo:</strong> {{ user.active ? 'Si' : 'No' }} </label>
      </div>
    </show-component>
  </div>
</template>

<script type="text/javascript">
  import Vue from 'vue'
  Vue.component('show-component', require('../../components/ShowComponent.vue').default)
  export default {
    props: ['user']
  }
</script>
