.filter-content {
  display: flex;

  ul {
    display: flex;
    list-style: none;
    padding: 0;
    height: 100%;

    li {
      margin: 0 5px;
      background-color: #6c757d;
      padding: 0 5px;
      color: white;
      border-radius: 5px;
      box-shadow: 0px 0px 3px 1px #aeaeae;
      display: ruby;

      i {
        cursor: pointer;
        margin-top: 5px;
        margin-right: 5px;
      }
    }
  }

  input {
    width: 100%;
    border: none;
  }
}

.modal-slider {
  width: 80%;
  background-color: white;
  box-shadow: 1px 1px 3px 1px #9f9f9f;
  border-radius: 5px;
  position: absolute;
  z-index: 999;
  padding: 5px;
  display: flex;

  div {
    list-style: none;
    padding: 5px;
    margin: 0;
  }
}

.close-panel {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
