/*
* Estilos para la barra lateral
*/

$green-color: #14bd7b;

li a{
  text-decoration: none;
}

.bar-list{
	list-style:none;
	margin: 0;
	width: 170px;
	padding-left: 0;
}

.bar-icon{
	width: 1.7em;
	height: 100%;
	margin-right: 15px;
  color: #fff;
}

.selected{
  background-color: $green-color;
}

.bar-item{
	display: flex;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 12px;
	transition: .5s ease;

  &:hover{
  	background-color: #33d898;
  	box-shadow: 0 0px 10px 0.5px #131313;
  }

  div{
    text-decoration:none;
  	color:white;
  }
}

nav{
  z-index: 3;
	width: 50px;
	background-color: #333;
	height: 100%;
	transition: .5s ease;
	box-shadow: 0 0px 15px 1px #000;
	overflow-x: hidden;
	position: fixed;
	animation-duration: 0.5s;
	animation-name: anim_inicio;
	border-right-style: solid;
	border-right-color: $green-color;
	border-right-width: 5px;

  &:hover{
  	width: 170px;
  }

}

.submenu{
	height: 50px;

  &:hover {
    height: 100%;
  }

  ul{
    color: white;
    background-color: #444;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .5s ease;
    -moz-transition: max-height .5s ease;
    transition: max-height .5s ease;
  }

  &:hover ul{
    max-height: 500px;
    box-shadow:
      inset 0px 11px 8px -10px #000,
      inset 0px -11px 8px -10px #000;
  }
}



@keyframes anim_menu {
  from {
    height: 0px;
  }

  to {
    height: 100%;
  }
}

@keyframes anim_inicio {
  from {
    width: 0px;
  }

  to {
    width: 50px;
  }
}
