<template>
  <div>
    <create-component :created="event" :url="'api/events'">
      <div class="col-sm-12">
        <!--<div class="form-group">
          <label for="date">Fecha</label>
          <input id="date" type="date" placeholder="Fecha" class="form-control" v-model="event.created_at">
        </div>-->
        <div class="form-group">
          <label>Eventos</label>
          <div>
            <div class="form-check form-check-inline" v-for="(eventType, index) in events" @click="setEventType(index)">
              <input class="form-check-input" type="radio" name="eventsType" :id="eventType" :checked="event.event === index">
              <label class="form-check-label" :for="eventType">
                {{ eventType }}
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Usuario</label>
          <v-select label="name" :options="sortUsers" v-model="user"></v-select>
        </div>
        <div class="form-group">
          <label>Equipo</label>
          <v-select label="name" :options="sortHardware" v-model="hardware"></v-select>
        </div>
        <div class="form-group">
          <label for="diagnostic">Diagnostico</label>
          <textarea id="diagnostic" class="form-control" v-model="event.diagnostic"></textarea>
        </div>
        <div class="form-group">
          <label for="repair">Reparación</label>
          <textarea id="repair" class="form-control" v-model="event.repair"></textarea>
        </div>
        <div class="form-group">
          <label for="details">Detalle</label>
          <textarea id="details" class="form-control" v-model="event.details"></textarea>
        </div>
      </div>
    </create-component>
  </div>
</template>

<script type="text/javascript">
import Vue from 'vue'
import vSelect from 'vue-select'

Vue.component('v-select', vSelect)
Vue.component('create-component', require('../../components/CreateComponent.vue').default)
export default {
  props: ['event', 'events'],
  computed: {
    hardware: {
      get: function () {
        return {
          code: this.event.hardware.id,
          name: this.event.hardware.name
        }
      },
      set: function (newValue) {
        if (newValue !== null){
          this.event.hardware_id = newValue.code
          this.event.hardware.id = newValue.code
          this.event.hardware.name = newValue.name
        }else {
          this.event.hardware_id = ''
          this.event.hardware.id = 'Seleccione'
          this.event.hardware.name = 'Seleccione'
        }
      }
    },
    user: {
      get: function () {
        return {
          code: this.event.user.id,
          name: this.event.user.name
        }
      },
      set: function (newValue) {
        if (newValue !== null){
          this.event.user_id = newValue.code
          this.event.user.id = newValue.code
          this.event.user.name = newValue.name
        }
        else{
          this.event.user_id = ''
          this.event.user.id = 'Seleccione'
          this.event.user.name = 'Seleccione'
        }
      }
    },
    sortHardware() {
      let sorted = []

      if (this.event.event === 0)
        sorted = this.hardwares.filter(hardware => hardware.status === 'available')
      else
        sorted = this.hardwares

      let response = []
      for (let sort of sorted) {
        response.push({name: sort.label, code: sort.id})
      }

      return response
    },
    sortUsers() {
      let sorted = []

      if (this.event.event === 0)
        sorted = this.users.filter(user => user.active)
      else
        sorted = this.users

      let response = []
      for (let sort of sorted) {
        response.push({name: `${sort.name} ${sort.lastname}`, code: sort.id})
      }

      return response
    }
  },
  data(){
    return {
      hardwares: [],
      users: []
    }
  },
  methods: {
    setEventType(eventType) {
      this.event.event = eventType
      this.event.user = {
        id: 'Seleccione',
        name: 'Seleccione'
      }
    }
  },
  mounted(){
    $('#create').on('show.bs.modal', e => {
      axios.get('api/hardware?pagination=none').then(response => {
        this.hardwares = response.data
      })
      axios.get('api/users?pagination=none').then(response => {
        this.users = response.data
      })
    })
  }
}
</script>
