<template>
  <div>
    <edit-component :edited="event" :url="'api/events'">
      <div class="col-sm-12">
        <!--<div class="form-group">
          <label for="date">Fecha</label>
          <input id="date" type="date" placeholder="Fecha" class="form-control" v-model="event.created_at">
        </div>-->
        <div class="form-group">
          <label>Eventos</label>
          <div>
            <div class="form-check form-check-inline" v-for="(eventType, index) in events">
              <input class="form-check-input" type="radio" name="eventsType" :id="eventType" @click="setEventType(index)" :checked="event.event === index">
              <label class="form-check-label" :for="eventType">
                {{ eventType }}
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Usuario</label>
          <v-select label="name" :options="users" v-model="user"></v-select>
        </div>
        <div class="form-group">
          <label>Equipo</label>
          <v-select label="name" :options="hardwares" v-model="hardware"></v-select>
        </div>
        <div class="form-group">
          <label for="diagnostic">Diagnostico</label>
          <textarea id="diagnostic" class="form-control" v-model="event.diagnostic"></textarea>
        </div>
        <div class="form-group">
          <label for="repair">Reparación</label>
          <textarea id="repair" class="form-control" v-model="event.repair"></textarea>
        </div>
        <div class="form-group">
          <label for="details">Detalle</label>
          <textarea id="details" class="form-control" v-model="event.details"></textarea>
        </div>
      </div>
    </edit-component>
  </div>
</template>

<script type="text/javascript">
import Vue from 'vue'
import vSelect from 'vue-select'

Vue.component('v-select', vSelect)
Vue.component('create-component', require('../../components/CreateComponent.vue').default)
export default {
  props: ['event', 'events'],
  computed: {
    hardware: {
      get: function () {
        return {
          code: this.event.hardware.id,
          name: this.event.hardware.name
        }
      },
      set: function (newValue) {
        if (newValue !== null){
          this.event.hardware_id = newValue.code
          this.event.hardware.id = newValue.code
          this.event.hardware.name = newValue.name
        }else {
          this.event.hardware_id = ''
          this.event.hardware.id = 'Seleccione'
          this.event.hardware.name = 'Seleccione'
        }
      }
    },
    user: {
      get: function () {
        return {
          code: this.event.user.id,
          name: this.event.user.name
        }
      },
      set: function (newValue) {
        if (newValue !== null){
          this.event.user_id = newValue.code
          this.event.user.id = newValue.code
          this.event.user.name = newValue.name
        }
        else{
          this.event.user_id = ''
          this.event.user.id = 'Seleccione'
          this.event.user.name = 'Seleccione'
        }
      }
    }
  },
  data(){
    return {
      hardwares: [
        {code: 'Seleccione', label: 'Seleccione'}
      ],
      users: [
        {code: 'Seleccione', label: 'Seleccione'}
      ]
    }
  },
  methods: {
    setEventType(eventType) {
      this.event.event = eventType
    }
  },
  mounted(){
    $('#edit').on('show.bs.modal', e => {
      axios.get('api/hardware?pagination=none').then(response => {
        this.hardwares = [
          {code: 'Seleccione', label: 'Seleccione'}
        ]
        for (let hardware of response.data) {
          this.hardwares.push({name: hardware.label, code: hardware.id})
        }
      })
      axios.get('api/users?pagination=none').then(response => {
        this.users = [
          {code: 'Seleccione', label: 'Seleccione'}
        ]
        for (let user of response.data) {
          this.users.push({name: `${user.name} ${user.lastname}`, code: user.id})
        }
      })
    })
  }
}
</script>
