<template>
  <div>
    <import-component
      :fields="fields"
    >
    </import-component>
  </div>
</template>

<script>
  import Vue from 'vue'
  Vue.component('import-component', require('../../components/ImportComponent.vue').default)

  export default {
    data(){
      return {
        fields: [
          {
            key: 'date',
            label: 'Fecha',
            formatter: value => (value === '' || value === undefined) ? 'N/A': value,
            sortable: true
          },
          {
            key: 'event',
            label: 'Evento',
            formatter: value => (value === '' || value === undefined) ? 'N/A': value,
            sortable: true
          },
          {
            key: 'hardware',
            label: 'Equipo',
            formatter: value => (value === '' || value === undefined) ? 'N/A': value,
            sortable: true
          },
          {
            key: 'user',
            label: 'Usuario',
            formatter: value => (value === '' || value === undefined) ? 'N/A': value,
            sortable: true
          },
          {
            key: 'diagnostic',
            label: 'Diagnosito',
            formatter: value => (value === '' || value === undefined) ? 'N/A': value,
            sortable: true
          },
          {
            key: 'repair',
            label: 'Reparación',
            formatter: value => (value === '' || value === undefined) ? 'N/A': value,
            sortable: true
          },
          {
            key: 'details',
            label: 'Detalles',
            formatter: value => (value === '' || value === undefined) ? 'N/A': value,
            sortable: true
          }
        ]
      }
    }
  }
</script>
