<template>
  <div>
    <show-component>
      <div class="col-sm-12">
        <div class="form-group">
          <label class="font-weight-bold" style="font-size: 24px;">
            <div>
              {{ events[event.event] }}<br>
              <small>{{ event.created_at }}</small>
            </div>
          </label>
        </div>
        <hr>
      </div>
      <div class="col-sm-12">
        <label><strong>Equipo:</strong> {{ event.hardware.name }} </label>
        <label><strong>Usuario:</strong> {{ event.user.name }} {{ event.user.lastname }} </label>
        <p><strong>Diagnostico:</strong> {{ event.diagnostic === null ? 'Ninguno' : event.diagnostic }} </p>
        <p><strong>Reparación:</strong> {{ event.repair === null ? 'Ninguno' : event.repair }} </p>
        <p><strong>Detalle:</strong> {{ event.details === null ? 'Ninguno' : event.details }} </p>
      </div>
    </show-component>
  </div>
</template>

<script type="text/javascript">
  import Vue from 'vue'
  Vue.component('show-component', require('../../components/ShowComponent.vue').default)
  export default {
    props: ['event', 'events']
  }
</script>
