<template >
  <div>
    <div class="row align-items-center justify-content-center">
      <div class="col-sm-8">
        <div class="card text-center">
          <div class="card-header">
            <h1>Error 404</h1>
          </div>
          <div class="card-body">
            <h5 class="card-title">Página no encontrada</h5>
            <p class="card-text">No pudimos encontrar la página que solisitaste, por favor verifica que la ruta esté escrita correctamente e intentalo nuevamente</p>
          </div>          
        </div>
      </div>
    </div>
  </div>
</template>
