<template>
 <div>
   <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
     <h1 class="h2">Listado de Categorias</h1>
     <div class="btn-toolbar mb-2 mb-md-0">
       <div class="btn-group mr-2">
         <button class="btn btn-sm btn-outline-secondary" @click.prevent="createCategory">Nuevo</button>
       </div>
     </div>
   </div>

   <div class="input-group">
     <input type="search" v-model.lazy="filter" class="form-control" placeholder="Filtrar">
     <div class="input-group-append">
       <button type="button" class="btn btn-primary">Filtrar</button>
     </div>
   </div>

   <div class="col-sm-6">
     <b-table
     id="table"
     sticky-header="450px"
     :api-url="apiUrl"
     :filter="filter"
     :items="getCategories"
     :fields="fields"
     :sort-by.sync="sortBy"
     :sort-desc.sync="sortDesc"
     :current-page="currentPage"
     :no-local-sorting="true"
     >
       <template v-slot:cell(options)="data">
         <button type="button" class="btn btn-link" @click.prevent="editCategory(data.item)">editar</button>
       </template>
       <template v-slot:table-busy>
         <div class="text-center my-2">
           <b-spinner class="align-middle" variant="secondary"></b-spinner>
           <strong>Cargando...</strong>
         </div>
       </template>
     </b-table>

     <b-pagination
     v-model="currentPage"
     :total-rows="total"
     :per-page="perPage"
     aria-controls="table"
     align="rigth"
     >
   </b-pagination>
   </div>

  <edit-category :category="category"></edit-category>
  <create-category :category="category"></create-category>
  </div>
</template>

<script>
  import Vue from 'vue';
  Vue.component('edit-category', require('./Admin/Categories/EditCategory.vue').default)
  Vue.component('create-category', require('./Admin/Categories/CreateCategory.vue').default)

  export default {
    data(){
      return {
        apiUrl: "api/categories",
        sortBy: 'categories.name',
        sortDesc: false,
        filter: null,
        currentPage: 1,
        perPage: 1,
        total: 0,
        category: {
          id: '',
          name: ''
        },

        fields: [
          {
            key: 'name',
            label: 'Nombre',
            sortable: true
          },
          {
            key: 'options',
            label: '',
            sortable: false
          }
        ]
      }
    },
    methods:{
      createCategory(){
        this.category.name = ''
        $('#create').modal('show')
      },
      showCategory(category) {
        this.category.id= category.id,
        this.category.name= category.name,
        $('#show').modal('show')
      },
      editCategory(category){
        this.category.id= category.id,
        this.category.name= category.name,
        $('#edit').modal('show')
      },
      getCategories(ctx) {
        if(ctx.sortBy !== ""){
          let url = `${ctx.apiUrl}?filter=${ctx.filter}&page=${ctx.currentPage}&sortBy=${ctx.sortBy}&sortDesc=${ctx.sortDesc ? 'asc':'desc'}`
          return axios.get(url).then(response => {
            this.total = response.data.last_page
            return response.data.data
          });
        }
      }
    }
  }
</script>
