<template>
  <div>
    <div class="col-sm-12">
      <h1 class="text-center">Acceso Rápido</h1>

      <div class="card">
        <div class="card-header">
          <h5>Usuario activos</h5>
        </div>
        <div class="card-body">
          <div class="input-group">
            <input type="search" v-model="search" class="form-control" placeholder="Buscar">
            <div class="input-group-append">
              <button type="button" class="btn btn-primary" @click="sync">
                <b-spinner small v-if="isSync"></b-spinner>
                <i v-else class="fas fa-sync-alt"></i>
              </button>
            </div>
          </div>
          <b-table
            :api-url="url"
            :items="items"
            :fields="fields"
            :filter="search"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc"
            striped
            responsive="sm"
            :sticky-header="stickyHeader"
            :no-border-collapse="noCollapse"
          >
            <template v-slot:cell(show_details)="row">
              <button class="btn btn-sm btn-link" @click="row.toggleDetails">
                <i v-if="row.detailsShowing" class="fas fa-eye-slash"></i>
                <i v-else class="fas fa-eye"></i>
              </button>
            </template>

            <template v-slot:row-details="row">
              <div class="card">
                <div class="card-header">
                  <h5>Usuario</h5>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-6">
                      <ul class="list-group">
                        <li class="list-group-item"><strong>Cedula:</strong> {{ isNull(row.item.user.code) }}</li>
                        <li class="list-group-item"><strong>Unidad:</strong> {{ isNull(row.item.user.unit) }}</li>
                        <li class="list-group-item"><strong>Cargo:</strong> {{ isNull(row.item.user.charge) }}</li>
                        <li class="list-group-item"><strong>Correo:</strong> {{ isNull(row.item.user.email) }}</li>
                        <li class="list-group-item"><strong>Clave:</strong> {{ isNull(row.item.user.password) }}</li>
                      </ul>
                    </div>
                    <div class="col-sm-6">
                      <ul class="list-group">
                        <li class="list-group-item"><strong>Reenvio:</strong> {{ isNull(row.item.user.forwarding) }}</li>
                        <li class="list-group-item"><strong>Mega:</strong> {{ isNull(row.item.user.mega_recovery) }}</li>
                        <li class="list-group-item"><strong>Usuario PC:</strong> {{ isNull(row.item.user.pc_user) }}</li>
                        <li class="list-group-item"><strong>Clave PC:</strong> {{ isNull(row.item.user.pc_password) }}</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card-header">
                  <h5>Equipo</h5>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-6">
                      <ul class="list-group">
                        <li class="list-group-item"><strong>Etiqueta:</strong> {{ isNull(row.item.hardware.label) }}</li>
                        <li class="list-group-item"><strong>Nombre del Equipo:</strong> {{ isNull(row.item.hardware.hostname) }}</li>
                        <li class="list-group-item"><strong>Proveedor:</strong> {{ isNull(row.item.hardware.provider) }}</li>
                        <li class="list-group-item"><strong>Categoria:</strong> {{ isNull(row.item.hardware.category) }}</li>
                        <li class="list-group-item"><strong>Direccion IP:</strong> {{ isNull(row.item.hardware.ip) }}</li>
                        <li class="list-group-item"><strong>Usuario Anydesk:</strong> {{ isNull(row.item.hardware.anydesk_user) }}</li>
                        <li class="list-group-item"><strong>Clave Anydesk:</strong> {{ isNull(row.item.hardware.anydesk_password) }}</li>
                      </ul>
                    </div>
                    <div class="col-sm-6">
                      <ul class="list-group">
                        <li class="list-group-item"><strong>Marca:</strong> {{ isNull(row.item.hardware.brand) }}</li>
                        <li class="list-group-item"><strong>Modelo:</strong> {{ isNull(row.item.hardware.model) }}</li>
                        <li class="list-group-item"><strong>Procesador:</strong> {{ isNull(row.item.hardware.processor) }}</li>
                        <li class="list-group-item"><strong>Almacenamiento:</strong> {{ isNull(row.item.hardware.disc) }}</li>
                        <li class="list-group-item"><strong>Memoria:</strong> {{ isNull(row.item.hardware.ram) }}</li>
                        <li class="list-group-item"><strong>Sistema Operativo:</strong> {{ isNull(row.item.hardware.so) }}</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <a href="#" class="btn fas fa-arrow-circle-up float-right mr-2" @click="row.toggleDetails"></a href="#">
                </div>
              </div>
            </template>
          </b-table>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-sm-8">
              <router-link :to="{ name: 'users'}">Ir a Usuarios</router-link> /
              <router-link :to="{ name: 'hardware'}">Ir a Equipos</router-link>
            </div>
            <div class="col-sm-4">
              <div class="float-right">
                {{ items.length }} {{ items.length > 1 ? 'registros' : 'registro' }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    created(){
      this.sync()
    },
    data() {
      return {
        isSync: false,
        stickyHeader: true,
        noCollapse: false,
        sortBy:'user.name',
        sortDesc:false,
        search: '',
        url: 'dashboard',
        fields: [
          {
            key: 'user.name',
            label: 'Nombre',
            sortable: true
          },
          {
            key: 'user.lastname',
            label: 'Apellido',
            sortable: true
          },
          {
            key: 'user.email',
            label: 'Correo',
            sortable: true
          },
          {
            key: 'user.password',
            label: 'Clave',
            sortable: true
          },
          {
            key: 'hardware.label',
            label: 'Equipo',
            sortable: true
          },
          {
            key: 'hardware.anydesk_user',
            label: 'Anydesk',
            sortable: true
          },
          {
            key: 'user.pc_user',
            label: 'Usuario PC',
            sortable: true
          },
          {
            key: 'user.pc_password',
            label: 'Clave PC',
            sortable: true
          },
          {
            key: 'show_details',
            label: 'Detalles',
          }
        ],
        items: []
      }
    },
    methods: {
      sync() {
        return axios.get(this.url).then(response => {
          this.isSync=true
          this.items = response.data
          this.isSync=false
        });
      },
      isNull(value) {
        if(value !== null && value !== undefined) {
          if (value.name !== null && value.name !== undefined) {
            return value.name
          }
          return value
        }
        return '-'
      }
    }
  }
</script>
