<template>
 <div>
   <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
     <h1 class="h2">Listado de Eventos</h1>
     <div class="btn-toolbar mb-2 mb-md-0">
       <div class="btn-group mr-2">
         <button class="btn btn-sm btn-outline-secondary" @click.prevent="importEvent">Importar</button>
         <button class="btn btn-sm btn-outline-secondary">Exportar</button>
         <button class="btn btn-sm btn-outline-secondary" @click.prevent="createEvent">Nuevo</button>
       </div>
     </div>
   </div>

   <div class="input-group">
     <input type="search" v-model.lazy="filter" class="form-control" placeholder="Filtrar">
     <div class="input-group-append">
       <button type="button" class="btn btn-primary">Filtrar</button>
     </div>
   </div>

  <b-table
  id="table"
  sticky-header="450px"
  :api-url="apiUrl"
  :filter="filter"
  :items="getEvents"
  :fields="fields"
  :sort-by.sync="sortBy"
  :sort-desc.sync="sortDesc"
  :current-page="currentPage"
  :no-local-sorting="true"
  >
    <template v-slot:cell(user.name)="data">
      {{ data.item.user.name}} {{ data.item.user.lastname}}
    </template>
    <template v-slot:cell(options)="data">
      <button type="button" class="btn btn-link" @click.prevent="showEvent(data.item)">ver</button>
      <button type="button" class="btn btn-link" @click.prevent="editEvent(data.item)">editar</button>
    </template>
    <template v-slot:table-busy>
      <div class="text-center my-2">
        <b-spinner class="align-middle" variant="secondary"></b-spinner>
        <strong>Cargando...</strong>
      </div>
    </template>
  </b-table>

  <b-pagination
    v-model="currentPage"
    :total-rows="total"
    :per-page="perPage"
    aria-controls="table"
    align="rigth"
  >
  </b-pagination>

  <show-event :event="event" :events="events"></show-event>
  <edit-event :event="event" :events="events"></edit-event>
  <create-event :event="event" :events="events"></create-event>
  <import-event></import-event>
  </div>
</template>

<script>
  import Vue from 'vue';
  Vue.component('show-event', require('./Events/ShowEvent.vue').default)
  Vue.component('edit-event', require('./Events/EditEvent.vue').default)
  Vue.component('create-event', require('./Events/CreateEvent.vue').default)
  Vue.component('import-event', require('./Events/ImportEvent.vue').default)

  export default {
    data(){
      return {
        apiUrl: "api/events",
        sortBy: 'events.created_at',
        sortDesc: false,
        filter: null,
        currentPage: 1,
        perPage: 1,
        total: 0,
        events: [
          'Entrega',
          'Mantenimiento',
          'Actualización'
        ],
        event: {
          id: '',
          user_id: '',
          hardware_id: '',
          created_at: '',
          event: '',
          diagnostic: '',
          repair: '',
          details: '',
          user: {
            id: '',
            name: ''
          },
          hardware: {
            id: '',
            name: ''
          }
        },

        fields: [
          {
            key: 'created_at',
            label: 'Fecha',
            sortable: true,
            formatter: value => {
              return this.parseSingleDate(value)
            }
          },
          {
            key: 'event',
            label: 'Evento',
            sortable: true,
            formatter: value => {
              return this.events[value]
            }
          },
          {
            key: 'hardware.label',
            label: 'Equipo',
            sortable: true
          },
          {
            key: 'user.name',
            label: 'Usuario',
            sortable: true
          },
          {
            key: 'options',
            label: '',
            sortable: false
          }
        ]
      }
    },
    methods:{
      parseSingleDate(date){
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear()

        if (month.length < 2)
            month = '0' + month
        if (day.length < 2)
            day = '0' + day

        return [year, month, day].join('-')
      },
      importEvent(){
        $('#import').modal('show')
      },
      createEvent(){
        for (var prop in this.event) {
          this.event[prop] = ''
        }
        this.event.event = -1
        this.event.user = {id: 'Seleccione', name: 'Seleccione'}
        this.event.hardware = {id: 'Seleccione', name: 'Seleccione'}
        $('#create').modal('show')
      },
      showEvent(event) {
        this.event.id= event.id,
        this.event.created_at= this.parseSingleDate(event.created_at),
        this.event.user_id= event.user_id,
        this.event.hardware_id= event.hardware_id,
        this.event.event= event.event,
        this.event.diagnostic= event.diagnostic,
        this.event.repair= event.repair,
        this.event.details= event.details,

        this.event.user.id = event.user.id
        this.event.user.name = `${event.user.name} ${event.user.lastname}`

        this.event.hardware.id = event.hardware.id
        this.event.hardware.name = event.hardware.label

        $('#show').modal('show')
      },
      editEvent(event){
        this.event.id= event.id,
        //this.event.created_at= this.parseSingleDate(event.created_at),
        this.event.user_id= event.user_id,
        this.event.hardware_id= event.hardware_id,
        this.event.event= event.event,
        this.event.diagnostic= event.diagnostic,
        this.event.repair= event.repair,
        this.event.details= event.details,

        this.event.user.id = event.user.id
        this.event.user.name = `${event.user.name} ${event.user.lastname}`

        this.event.hardware.id = event.hardware.id
        this.event.hardware.name = event.hardware.label

        $('#edit').modal('show')
      },
      getEvents(ctx) {
        if(ctx.sortBy !== ""){
          let url = `${ctx.apiUrl}?filter=${ctx.filter}&page=${ctx.currentPage}&sortBy=${ctx.sortBy}&sortDesc=${ctx.sortDesc ? 'asc':'desc'}`
          return axios.get(url).then(response => {
            this.total = response.data.last_page
            return response.data.data
          });
        }
      }
    }
  }
</script>
