<template>
<div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Listado de Equipos</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
              <button class="btn btn-sm btn-outline-secondary" @click.prevent="importHardware">Importar</button>
              <button class="btn btn-sm btn-outline-secondary">Exportar</button>
              <button class="btn btn-sm btn-outline-secondary" @click.prevent="createHardware">Nuevo</button>
            </div>
        </div>
    </div>

    <div class="input-group">
      <input type="search" v-model.lazy="filter" class="form-control" placeholder="Filtrar">
      <div class="input-group-append">
        <button type="button" class="btn btn-primary">Filtrar</button>
      </div>
    </div>

    <b-table
      id="table"
      sticky-header="450px"
      :api-url="apiUrl"
      :filter="filter"
      :items="getHardware"
      :fields="fields"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :current-page="currentPage"
      :no-local-sorting="true"
    >
        <template v-slot:cell(options)="data">
          <button type="button" class="btn btn-link" @click.prevent="showHardware(data.item)">ver</button>
          <button type="button" class="btn btn-link" @click.prevent="editHardware(data.item)">editar</button>
        </template>
        <template v-slot:table-busy>
            <div class="text-center my-2">
                <b-spinner class="align-middle" variant="secondary"></b-spinner>
                <strong>Cargando...</strong>
            </div>
        </template>
    </b-table>

    <b-pagination v-model="currentPage" :total-rows="total" :per-page="perPage" aria-controls="table" align="rigth">
    </b-pagination>

    <show-hardware :hardware="hardware"></show-hardware>
    <edit-hardware :hardware="hardware"></edit-hardware>
    <create-hardware :hardware="hardware"></create-hardware>
    <import-hardware></import-hardware>
</div>
</template>

<script>
import Vue from 'vue';
Vue.component('filter-component', require('../components/FilterComponent.vue').default)
Vue.component('show-hardware', require('./Hardware/ShowHardware.vue').default)
Vue.component('edit-hardware', require('./Hardware/EditHardware.vue').default)
Vue.component('create-hardware', require('./Hardware/CreateHardware.vue').default)
Vue.component('import-hardware', require('./Hardware/ImportHardware.vue').default)

export default {
    data() {
        return {
            apiUrl: "api/hardware",
            sortBy: 'hardware.label',
            sortDesc: false,
            filter: null,
            currentPage: 1,
            perPage: 1,
            total: 0,
            hardware: {
          id: '',
          label:'',
          category_id: '',
          provider_id: '',
          hostname: '',
          brand: '',
          model: '',
          serial: '',
          ip: '',
          processor: '',
          disc: '',
          ram: '',
          so: '',
          cost: '',
          anydesk_user: '',
          anydesk_password: '',
          status: '',
          office_license: false,
          windows_license: false,
          category: {
            id: '',
            name: ''
          },
          provider: {
            id: '',
            name: ''
          }
        },
            fields: [{
                    key: 'label',
                    label: 'Etiqueta',
                    sortable: true
                },
                {
                    key: 'category.name',
                    label: 'Categoria',
                    sortable: true
                },
                {
                    key: 'hostname',
                    label: 'Nombre de Equipo',
                    sortable: true
                },
                {
                    key: 'brand',
                    label: 'Marca',
                    sortable: true
                },
                {
                    key: 'model',
                    label: 'Modelo',
                    sortable: true
                },
                {
                    key: 'ip',
                    label: 'IP',
                    sortable: true
                },
                {
                    key: 'status',
                    label: 'Estado',
                    sortable: true,
                    formatter: value => {
                        let states = {
                            sinister: 'Siniestrada',
                            available: 'Disponible',
                            unavailable: 'No Disponible'
                        }
                        return states[value]
                    }
                },
                {
                    key: 'options',
                    label: '',
                    sortable: false
                }
            ]
        }
    },
    methods: {
      createHardware(){
        for (var prop in this.hardware) {
          this.hardware[prop] = ''
        }
        this.hardware.category = {id: 'Seleccione', name: 'Seleccione'}
        this.hardware.provider = {id: 'Seleccione', name: 'Seleccione'}
        this.hardware.office_license = false
        this.hardware.windows_license = false
        $('#create').modal('show')
      },
      showHardware(hardware) {
        this.hardware.id= hardware.id,
        this.hardware.label= hardware.label,
        this.hardware.category_id= hardware.category_id,
        this.hardware.provider_id= hardware.provider_id,
        this.hardware.hostname= hardware.hostname,
        this.hardware.brand= hardware.brand,
        this.hardware.model= hardware.model,
        this.hardware.serial= hardware.serial,
        this.hardware.ip= hardware.ip,
        this.hardware.processor= hardware.processor,
        this.hardware.disc= hardware.disc,
        this.hardware.ram= hardware.ram,
        this.hardware.so= hardware.so,
        this.hardware.cost= hardware.cost,
        this.hardware.anydesk_user= hardware.anydesk_user,
        this.hardware.anydesk_password= hardware.anydesk_password,
        this.hardware.office_license= hardware.office_license,
        this.hardware.windows_license= hardware.windows_license,
        this.hardware.status= hardware.status,

        this.hardware.category.id = hardware.category.id
        this.hardware.category.name = hardware.category.name

        if(hardware.provider !== null){
          this.hardware.provider.id = hardware.provider.id
          this.hardware.provider.name = hardware.provider.name
        }

        $('#show').modal('show')
      },
      editHardware(hardware){
        this.hardware.id= hardware.id,
        this.hardware.label= hardware.label,
        this.hardware.category_id= hardware.category_id,
        this.hardware.provider_id= hardware.provider_id,
        this.hardware.hostname= hardware.hostname,
        this.hardware.brand= hardware.brand,
        this.hardware.model= hardware.model,
        this.hardware.serial= hardware.serial,
        this.hardware.ip= hardware.ip,
        this.hardware.processor= hardware.processor,
        this.hardware.disc= hardware.disc,
        this.hardware.ram= hardware.ram,
        this.hardware.so= hardware.so,
        this.hardware.cost= hardware.cost,
        this.hardware.anydesk_user= hardware.anydesk_user,
        this.hardware.anydesk_password= hardware.anydesk_password,
        this.hardware.office_license= hardware.office_license,
        this.hardware.windows_license= hardware.windows_license,
        this.hardware.status= hardware.status,

        this.hardware.category.id = hardware.category.id
        this.hardware.category.name = hardware.category.name

        if(hardware.provider !== null){
          this.hardware.provider.id = hardware.provider.id
          this.hardware.provider.name = hardware.provider.name
        }else{
          this.hardware.provider_id = ''
          this.hardware.provider.id = 'Seleccione'
          this.hardware.provider.name = 'Seleccione'
        }

        $('#edit').modal('show')
      },

        getHardware(ctx) {
            if (ctx.sortBy !== "") {
                let url = `${ctx.apiUrl}?filter=${ctx.filter}&page=${ctx.currentPage}&sortBy=${ctx.sortBy}&sortDesc=${ctx.sortDesc ? 'asc':'desc'}`
                return axios.get(url).then(response => {
                    this.total = response.data.last_page
                    return response.data.data
                });
            }
        },
        exportHardware() {
            let apiUrl = this.apiUrl
            let filter = this.filter

            return axios({
                url: `${apiUrl}/export?filter=${filter}`,
                method: 'GET',
                responseType: 'blob'
            }).then((response) => {
                const url = window.URL.createObjectURL(new Blob([response.data]));
                const link = document.createElement('a');
                link.href = url;
                link.setAttribute('download', 'hardware.xlsx');
                document.body.appendChild(link);
                link.click();
            });
        }
    }
}
</script>
