<template>
 <div>
   <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
     <h1 class="h2">Listado de Proveedores</h1>
     <div class="btn-toolbar mb-2 mb-md-0">
       <div class="btn-group mr-2">
         <button class="btn btn-sm btn-outline-secondary">Importar</button>
         <button class="btn btn-sm btn-outline-secondary">Exportar</button>
         <button class="btn btn-sm btn-outline-secondary" @click.prevent="createProvider">Nuevo</button>
       </div>
     </div>
   </div>

   <div class="input-group">
     <input type="search" v-model.lazy="filter" class="form-control" placeholder="Filtrar">
     <div class="input-group-append">
       <button type="button" class="btn btn-primary">Filtrar</button>
     </div>
   </div>

  <b-table
  id="table"
  sticky-header="450px"
  :api-url="apiUrl"
  :filter="filter"
  :items="getProviders"
  :fields="fields"
  :sort-by.sync="sortBy"
  :sort-desc.sync="sortDesc"
  :current-page="currentPage"
  :no-local-sorting="true"
  >
    <template v-slot:cell(options)="data">
      <button type="button" class="btn btn-link" @click.prevent="editProvider(data.item)">editar</button>
    </template>
    <template v-slot:table-busy>
      <div class="text-center my-2">
        <b-spinner class="align-middle" variant="secondary"></b-spinner>
        <strong>Cargando...</strong>
      </div>
    </template>
  </b-table>

  <b-pagination
    v-model="currentPage"
    :total-rows="total"
    :per-page="perPage"
    aria-controls="table"
    align="rigth"
  >
  </b-pagination>

  <edit-provider :provider="provider"></edit-provider>
  <create-provider :provider="provider"></create-provider>
  </div>
</template>

<script>
  import Vue from 'vue';
  Vue.component('edit-provider', require('./Providers/EditProvider.vue').default)
  Vue.component('create-provider', require('./Providers/CreateProvider.vue').default)

  export default {
    data(){
      return {
        apiUrl: "api/providers",
        sortBy: 'providers.name',
        sortDesc: false,
        filter: null,
        currentPage: 1,
        perPage: 1,
        total: 0,
        provider: {
          id: '',
          name:'',
          email: '',
          phone: ''
        },

        fields: [
          {
            key: 'name',
            label: 'Nombre',
            sortable: true
          },
          {
            key: 'email',
            label: 'Correo',
            sortable: true
          },
          {
            key: 'phone',
            label: 'Telefono',
            sortable: true
          },
          {
            key: 'options',
            label: '',
            sortable: false
          }
        ]
      }
    },
    methods:{
      createProvider(){
        for (var prop in this.provider) {
          this.provider[prop] = ''
        }
        this.provider.unit = {id: 'Seleccione', name: 'Seleccione'}
        this.provider.charge = {id: 'Seleccione', name: 'Seleccione'}
        this.provider.active = true
        $('#create').modal('show')
      },
      showProvider(provider) {
        this.provider.id= provider.id,
        this.provider.name= provider.name,
        this.provider.email= provider.email,
        this.provider.phone= provider.phone,

        $('#show').modal('show')
      },
      editProvider(provider){
        this.provider.id= provider.id,
        this.provider.name= provider.name,
        this.provider.email= provider.email,
        this.provider.phone= provider.phone,

        $('#edit').modal('show')
      },
      getProviders(ctx) {
        if(ctx.sortBy !== ""){
          let url = `${ctx.apiUrl}?filter=${ctx.filter}&page=${ctx.currentPage}&sortBy=${ctx.sortBy}&sortDesc=${ctx.sortDesc ? 'asc':'desc'}`
          return axios.get(url).then(response => {
            this.total = response.data.last_page
            return response.data.data
          });
        }
      }
    }
  }
</script>
