<template>
 <div>
   <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
     <h1 class="h2">Listado de Usuarios</h1>
     <div class="btn-toolbar mb-2 mb-md-0">
       <div class="btn-group mr-2">
         <button class="btn btn-sm btn-outline-secondary" @click.prevent="importUsers">Importar</button>
         <button class="btn btn-sm btn-outline-secondary">Exportar</button>
         <button class="btn btn-sm btn-outline-secondary" @click.prevent="createUser">Nuevo</button>
       </div>
     </div>
   </div>

   <div class="input-group">
     <input type="search" v-model.lazy="filter" class="form-control" placeholder="Filtrar">
     <div class="input-group-append">
       <button type="button" class="btn btn-primary">Filtrar</button>
     </div>
   </div>

  <b-table
  id="table"
  sticky-header="450px"
  :api-url="apiUrl"
  :filter="filter"
  :items="getUsers"
  :fields="fields"
  :sort-by.sync="sortBy"
  :sort-desc.sync="sortDesc"
  :current-page="currentPage"
  :no-local-sorting="true"
  >
    <template v-slot:cell(options)="data">
      <button type="button" class="btn btn-link" @click.prevent="showUser(data.item)">ver</button>
      <button type="button" class="btn btn-link" @click.prevent="editUser(data.item)">editar</button>
    </template>
    <template v-slot:table-busy>
      <div class="text-center my-2">
        <b-spinner class="align-middle" variant="secondary"></b-spinner>
        <strong>Cargando...</strong>
      </div>
    </template>
  </b-table>

  <b-pagination
    v-model="currentPage"
    :total-rows="total"
    :per-page="perPage"
    aria-controls="table"
    align="rigth"
  >
  </b-pagination>

  <show-user :user="user"></show-user>
  <edit-user :user="user"></edit-user>
  <create-user :user="user"></create-user>
  <import-users></import-users>
  </div>
</template>

<script>
  import Vue from 'vue';
  Vue.component('show-user', require('./Users/ShowUser.vue').default)
  Vue.component('edit-user', require('./Users/EditUser.vue').default)
  Vue.component('create-user', require('./Users/CreateUser.vue').default)
  Vue.component('import-users', require('./Users/ImportUsers.vue').default)

  export default {
    data(){
      return {
        apiUrl: "api/users",
        sortBy: 'users.name',
        sortDesc: false,
        filter: null,
        currentPage: 1,
        perPage: 1,
        total: 0,
        user: {
          id: '',
          code:'',
          name: '',
          lastname: '',
          unit_id: '',
          charge_id: '',
          email: '',
          password: '',
          forwarding: '',
          mega_recovery: '',
          pc_user: '',
          pc_password: '',
          active: true,
          unit: {
            id: '',
            name: ''
          },
          charge: {
            id: '',
            name: ''
          }
        },

        fields: [
          {
            key: 'code',
            label: 'Cedula',
            sortable: true
          },
          {
            key: 'name',
            label: 'Nombre',
            sortable: true
          },
          {
            key: 'lastname',
            label: 'Apellido',
            sortable: true
          },
          {
            key: 'unit.name',
            label: 'Unidad',
            sortable: true
          },
          {
            key: 'email',
            label: 'Correo',
            sortable: true
          },
          {
            key: 'password',
            label: 'Clave',
            sortable: true
          },
          {
            key: 'active',
            label: 'Activo',
            sortable: true,
            formatter: value => (value) ? 'Si': 'No'
          },
          {
            key: 'options',
            label: '',
            sortable: false
          }
        ]
      }
    },
    methods:{
      importUsers() {
        $('#import').modal('show')
      },
      createUser(){
        for (var prop in this.user) {
          this.user[prop] = ''
        }
        this.user.unit = {id: 'Seleccione', name: 'Seleccione'}
        this.user.charge = {id: 'Seleccione', name: 'Seleccione'}
        this.user.active = true
        $('#create').modal('show')
      },
      showUser(user) {
        this.user.id= user.id,
        this.user.code= user.code,
        this.user.name= user.name,
        this.user.lastname= user.lastname,
        this.user.unit_id= user.unit_id,
        this.user.charge_id= user.charge_id,
        this.user.email= user.email,
        this.user.password= user.password,
        this.user.forwarding= user.forwarding,
        this.user.mega_recovery= user.mega_recovery,
        this.user.pc_user= user.pc_user,
        this.user.pc_password= user.pc_password,
        this.user.active= user.active,

        this.user.unit.id = user.unit.id
        this.user.unit.name = user.unit.name

        this.user.charge.id = user.charge.id
        this.user.charge.name = user.charge.name

        $('#show').modal('show')
      },
      editUser(user){
        this.user.id= user.id,
        this.user.code= user.code,
        this.user.name= user.name,
        this.user.lastname= user.lastname,
        this.user.unit_id= user.unit_id,
        this.user.charge_id= user.charge_id,
        this.user.email= user.email,
        this.user.password= user.password,
        this.user.forwarding= user.forwarding,
        this.user.mega_recovery= user.mega_recovery,
        this.user.pc_user= user.pc_user,
        this.user.pc_password= user.pc_password,
        this.user.active= user.active,

        this.user.unit.id = user.unit.id
        this.user.unit.name = user.unit.name

        this.user.charge.id = user.charge.id
        this.user.charge.name = user.charge.name

        $('#edit').modal('show')
      },
      getUsers(ctx) {
        if(ctx.sortBy !== ""){
          let url = `${ctx.apiUrl}?filter=${ctx.filter}&page=${ctx.currentPage}&sortBy=${ctx.sortBy}&sortDesc=${ctx.sortDesc ? 'asc':'desc'}`
          return axios.get(url).then(response => {
            this.total = response.data.last_page
            return response.data.data
          });
        }
      }
    }
  }
</script>
