<template>
  <div>
    <edit-component :edited="provider" :url="'api/providers'">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="name">Nombre</label>
          <input id="name" type="text" placeholder="Nombre" class="form-control" v-model="provider.name">
        </div>
        <div class="form-group">
          <label for="email">Correo</label>
          <input id="email" type="email" placeholder="Correo" class="form-control" v-model="provider.email">
        </div>
        <div class="form-group">
          <label for="phone">Telefono</label>
          <input id="phone" type="text" placeholder="Telefono" class="form-control" v-model="provider.phone">
        </div>
      </div>
    </edit-component>
  </div>
</template>

<script type="text/javascript">
  import Vue from 'vue'
  import vSelect from 'vue-select'

  Vue.component('v-select', vSelect)
  Vue.component('edit-component', require('../../components/EditComponent.vue').default)
  export default {
    props: ['provider']
  }
</script>
