<template>
  <div>
    <create-component :created="hardware" :size="'modal-lg'" :url="'api/hardware'">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="label">Etiqueta</label>
          <input id="label" type="text" placeholder="Etiqueta" class="form-control" v-model="hardware.label">
        </div>
        <div class="form-group">
          <label>Categoria</label>
          <v-select label="name" :options="categories" v-model="category"></v-select>
        </div>
        <div class="form-group">
          <label>Proveedor</label>
          <v-select label="name" :options="providers" v-model="provider"></v-select>
        </div>
        <div class="form-group">
          <label for="hostname">Nombre del Equipo</label>
          <input id="hostname" type="text" placeholder="Nombre del Equipo" class="form-control" v-model="hardware.hostname">
        </div>
        <div class="form-group">
          <label for="ip">Direccion IP</label>
          <input id="ip" type="text" placeholder="Direccion IP" class="form-control" v-model="hardware.ip">
        </div>
        <div class="form-group">
          <label for="so">Sistema Operativo</label>
          <input id="so" type="text" placeholder="Sistema Operativo" class="form-control" v-model="hardware.so">
        </div>
        <div class="form-group">
          <label for="anydesk_user">Usuario de Anydesk</label>
          <input id="anydesk_user" type="text" placeholder="Usuario de Anydesk" class="form-control" v-model="hardware.anydesk_user">
        </div>
        <div class="form-group">
          <label for="anydesk_password">Clave de Anydesk</label>
          <input id="anydesk_password" type="text" placeholder="Clave de Anydesk" class="form-control" v-model="hardware.anydesk_password">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="brand">Marca</label>
          <input id="brand" type="text" placeholder="Marca" class="form-control" v-model="hardware.brand">
        </div>
        <div class="form-group">
          <label for="model">Modelo</label>
          <input id="model" type="text" placeholder="Modelo" class="form-control" v-model="hardware.model">
        </div>
        <div class="form-group">
          <label for="serial">Numero de Serie</label>
          <input id="serial" type="text" placeholder="Numero de Serie" class="form-control" v-model="hardware.serial">
        </div>
        <div class="form-group">
          <label for="processor">Procesador</label>
          <input id="processor" type="text" placeholder="Procesador" class="form-control" v-model="hardware.processor">
        </div>
        <div class="form-group">
          <label for="disc">Almacenamiento</label>
          <input id="disc" type="text" placeholder="Almacenamiento" class="form-control" v-model="hardware.disc">
        </div>
        <div class="form-group">
          <label for="ram">Memoria</label>
          <input id="ram" type="text" placeholder="Memoria" class="form-control" v-model="hardware.ram">
        </div>
        <div class="form-group">
          <label for="cost">Valor</label>
          <input id="cost" type="text" placeholder="Valor" class="form-control" v-model="hardware.cost">
        </div>
        <div class="form-group">
          <label class="form-check-label" for="sinister">
            Estado
          </label>
          <select class="custom-select" v-model="hardware.status">
            <option value="" selected disabled hidden>Seleccione</option>
            <option v-for="state in states" :value="state.key">{{ state.value }}</option>
          </select>
        </div>
        <div class="form-check">
          <input id="office_license" class="form-check-input" type="checkbox" v-model="hardware.office_license">
          <label class="form-check-label" for="office_license">
            Licencia de office
          </label>
        </div>
        <div class="form-check">
          <input id="windows_license" class="form-check-input" type="checkbox" v-model="hardware.windows_license">
          <label class="form-check-label" for="windows_license">
            Licencia de Windows
          </label>
        </div>
      </div>
    </create-component>
  </div>
</template>

<script type="text/javascript">
  import Vue from 'vue'
  import vSelect from 'vue-select'

  Vue.component('v-select', vSelect)
  Vue.component('create-component', require('../../components/CreateComponent.vue').default)
  export default {
    computed: {
      category: {
        get: function () {
          return {
            code: this.hardware.category.id,
            name: this.hardware.category.name
          }
        },
        set: function (newValue) {
          if (newValue !== null){
            this.hardware.category_id = newValue.code
            this.hardware.category.id = newValue.code
            this.hardware.category.name = newValue.name
          }else {
            this.hardware.category_id = ''
            this.hardware.category.id = 'Seleccione'
            this.hardware.category.name = 'Seleccione'
          }
        }
      },
      provider: {
        get: function () {
          return {
            code: this.hardware.provider.id,
            name: this.hardware.provider.name
          }
        },
        set: function (newValue) {
          if (newValue !== null){
            this.hardware.provider_id = newValue.code
            this.hardware.provider.id = newValue.code
            this.hardware.provider.name = newValue.name
          }
          else{
            this.hardware.provider_id = ''
            this.hardware.provider.id = 'Seleccione'
            this.hardware.provider.name = 'Seleccione'
          }
        }
      }
    },
    data(){
      return {
        categories: [
          {code: 'Seleccione', label: 'Seleccione'}
        ],
        providers: [
          {code: 'Seleccione', label: 'Seleccione'}
        ],
        states : [
          {key: 'sinister', value: 'Siniestrada'},
          {key: 'available', value: 'Disponible'},
          {key: 'unavailable', value: 'No Disponible'}
        ],
        hardware: {
          id: '',
          label:'',
          category_id: '',
          provider_id: '',
          hostname: '',
          brand: '',
          model: '',
          serial: '',
          ip: '',
          processor: '',
          disc: '',
          ram: '',
          so: '',
          cost: '',
          anydesk_user: '',
          anydesk_password: '',
          status: '',
          office_license: false,
          windows_license: false,
          category: {
            id: '',
            name: ''
          },
          provider: {
            id: '',
            name: ''
          }
        }
      }
    },
    mounted(){
      $('#create').on('show.bs.modal', e => {
        axios.get('api/categories?pagination=none').then(response => {
          this.categories = []
          for (let category of response.data) {
            this.categories.push({name: category.name, code: category.id})
          }
        })
        axios.get('api/providers?pagination=none').then(response => {
          this.providers = []
          for (let provider of response.data) {
            this.providers.push({name: provider.name, code: provider.id})
          }
        })
      })
      /*$('#create').on('hide.bs.modal', e => {
        this.$router.go(-1)
      })
      $('#create').modal('show')*/
    }
  }
</script>
