<template>
<div>
    <import-component :fields="fields" url="api/hardware"></import-component>
</div>
</template>

<script>
import Vue from 'vue'
Vue.component('import-component', require('../../components/ImportComponent.vue').default)

export default {
    data() {
        return {
            fields: [{
                    key: 'label',
                    label: 'Etiqueta',
                    formatter: value => (value === '' || value === undefined) ? 'N/A' : value,
                    sortable: true
                },
                {
                    key: 'category',
                    label: 'Categoria',
                    formatter: value => (value === '' || value === undefined) ? 'N/A' : value,
                    sortable: true
                },
                {
                    key: 'provider',
                    label: 'Proveedor',
                    formatter: value => (value === '' || value === undefined) ? 'N/A' : value,
                    sortable: true
                },
                {
                    key: 'hostname',
                    label: 'Nombre del Equipo',
                    formatter: value => (value === '' || value === undefined) ? 'N/A' : value,
                    sortable: true
                },
                {
                    key: 'brand',
                    label: 'Marca',
                    formatter: value => (value === '' || value === undefined) ? 'N/A' : value,
                    sortable: true
                },
                {
                    key: 'model',
                    label: 'Modelo',
                    formatter: value => (value === '' || value === undefined) ? 'N/A' : value,
                    sortable: true
                },
                {
                    key: 'serial',
                    label: 'Serie',
                    formatter: value => (value === '' || value === undefined) ? 'N/A' : value,
                    sortable: true
                },
                {
                    key: 'ip',
                    label: 'Direccion IP',
                    formatter: value => (value === '' || value === undefined) ? 'N/A' : value,
                    sortable: true
                },
                {
                    key: 'processor',
                    label: 'Procesador',
                    formatter: value => (value === '' || value === undefined) ? 'N/A' : value,
                    sortable: true
                },
                {
                    key: 'disc',
                    label: 'Almacenamiento',
                    formatter: value => (value === '' || value === undefined) ? 'N/A' : value,
                    sortable: true
                },
                {
                    key: 'ram',
                    label: 'Memoria RAM',
                    formatter: value => (value === '' || value === undefined) ? 'N/A' : value,
                    sortable: true
                },
                {
                    key: 'so',
                    label: 'Sistema Operativo',
                    formatter: value => (value === '' || value === undefined) ? 'N/A' : value,
                    sortable: true
                },
                {
                    key: 'cost',
                    label: 'Costo',
                    formatter: value => (value === '' || value === undefined) ? 'N/A' : value,
                    sortable: true
                },
                {
                    key: 'anydesk_user',
                    label: 'Usuario Anydesk',
                    formatter: value => (value === '' || value === undefined) ? 'N/A' : value,
                    sortable: true
                },
                {
                    key: 'anydesk_password',
                    label: 'Clave Anydesk',
                    formatter: value => (value === '' || value === undefined) ? 'N/A' : value,
                    sortable: true
                },
                {
                    key: 'office_license',
                    label: 'Licencia de Office',
                    formatter: value => (value) ? 'Si' : 'No',
                    sortable: true
                },
                {
                    key: 'windows_license',
                    label: 'Licencia de Windows',
                    formatter: value => (value) ? 'Si' : 'No',
                    sortable: true
                },
                {
                    key: 'status',
                    label: 'Estado',
                    formatter: value => (value) ? 'Si' : 'No',
                    sortable: true
                }
            ]
        }
    },
    mounted() {
        //$('#import').modal('show')
    }
}
</script>
