<template>
  <div>
    <show-component>
      <div class="col-sm-12">
        <div class="form-group">
          <label class="font-weight-bold" style="font-size: 24px;"> {{ hardware.label }} </label>
        </div>
        <hr>
      </div>
      <div class="col-sm-6">
        <label><strong>Codigo:</strong> {{ hardware.label }} </label>
        <label><strong>Categoria:</strong> {{ hardware.category.name }} </label>
        <label><strong>Proveedor:</strong> {{ hardware.provider.name }} </label>
        <label><strong>Valor:</strong> {{ hardware.cost }} </label>
        <label><strong>Nombre del Equipo:</strong> {{ hardware.hostname }} </label>
        <label><strong>Marca:</strong> {{ hardware.brand }} </label>
        <label><strong>Modelo:</strong> {{ hardware.model }} </label>
        <label><strong>Serie:</strong> {{ hardware.serial }} </label>
      </div>
      <div class="col-sm-6">
        <label><strong>Sistema Operativo:</strong> {{ hardware.so }} </label>
        <label><strong>Direccion IP:</strong> {{ hardware.ip }} </label>
        <label><strong>Procesador:</strong> {{ hardware.processor }} </label>
        <label><strong>Almacenamiento:</strong> {{ hardware.disc }} </label>
        <label><strong>Memoria RAM:</strong> {{ hardware.ram }} </label>
        <label><strong>Usuario de Anydesk:</strong> {{ hardware.anydesk_user }} </label>
        <label><strong>Clave de Anydesk:</strong> {{ hardware.anydesk_password }} </label>
        <label><strong>Lisencia de Office:</strong> {{ hardware.office_license ? 'Si' : 'No' }} </label>
        <label><strong>Lisencia de Windows:</strong> {{ hardware.windows_license ? 'Si' : 'No' }} </label>
        <label><strong>Estado:</strong> {{ hardwareState }} </label>
      </div>
    </show-component>
  </div>
</template>

<script type="text/javascript">
  import Vue from 'vue'
  Vue.component('show-component', require('../../components/ShowComponent.vue').default)
  export default {
    props:['hardware'],
    computed: {
      hardwareState(){
        let states = {
          sinister: 'Siniestrada',
          available: 'Disponible',
          unavailable: 'No Disponible'
        }
        return states[this.hardware.status]
      }
    },
    mounted() {
      /*$('#show').modal('show')
      $('#show').on('hide.bs.modal', e => {
        this.$router.go(-1)
      })*/
    }
  }
</script>
