<template >
  <div>
    <main>
      <side-bar></side-bar>
      <div class="container">
        <div class="content">
          <router-view v-bind:key="$route.fullPath"></router-view>
        </div>
      </div>
    </main>
  </div>
</template>

<script type="text/javascript">
  import Vue from 'vue'
  Vue.component('side-bar', require('./SidebarComponent.vue').default)

  export default {

  }
</script>
