<template>
  <div>
    <form id="edit" class="modal fade" tabindex="-1" role="dialog">
      <div :class="`modal-dialog modal-dialog-centered size ${size}`" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Editar</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <slot></slot>
            </div>
            <div v-if="errors.length != 0" class="alert alert-danger">
              <button type="button" class="close" v-on:click="clearErrors">
                &times;
              </button>
              <ul>
                <li v-for="error in errors">{{ error }}</li>
              </ul>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary" @click.prevent="save">Guardar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script type="text/javascript">
  export default{
    props: ['url', 'edited', 'size'],
    data(){
      return {
        errors: []
      }
    },
    methods:{
      save(){
        axios.put(`${this.url}/${this.edited.id}`, this.edited).then(response => {
          this.$bvToast.toast('Elemento actualizado', {
            title: 'Exito',
            variant: 'success'
          })
          this.$root.$emit('bv::refresh::table', 'table')
          $('#edit').modal('hide')
        }).catch(errors => {
          this.errors = errors.response.data.errors
        })
      },
      clearErrors(){
        this.errors = []
      }
    },
    mounted() {
      $('#edit').on('show.bs.modal', e => {
        this.clearErrors()
      })
    }
  }
</script>
