<template>
  <div>
    <div class="input-group">
      <div class="filter-content form-control">
        <ul>
          <li v-for="(filter, index) of filters">
            <i class="fas fa-times" @click="removeFilter(index)"></i>
            <label>
              {{ filter.label }}
            </label>
          </li>
        </ul>
        <input type="search" v-model.lazy="keyword" placeholder="Palabra clave">
      </div>
      <div class="input-group-append">
        <button type="button" name="filter" class="btn btn-secondary" @click="showFilter">
          <i class="fas fa-filter"></i>
        </button>
        <button type="button" class="btn btn-secondary">Filtrar</button>
      </div>
    </div>
    <div v-show="isShowFilter" class="modal-slider">
      <label for="field">Campo</label>
      <select class="custom-select" name="field" v-model="advanced.field">
        <option v-for="field of fields" :value="field.key">{{ field.label }}</option>
      </select>
      <label for="condition">Condicion</label>
      <select class="custom-select" name="condition" v-model="advanced.condition">
        <option>Mayor a</option>
        <option>Menor a</option>
        <option>Igual a</option>
        <option>Comienza con</option>
        <option>Termina con</option>
        <option>Contiene</option>
      </select>
      <label for="value">Valor</label>
      <input type="text" name="value" v-model="advanced.value" class="form-control">
      <button type="button" name="accept" class="btn btn-sm btn-primary float-right" @click="createFilter">
        Aceptar
        <i class="fas fa-check"></i>
      </button>
    </div>
    <div v-show="isShowFilter" class="close-panel" @click="hideFilter"></div>
  </div>
</template>

<script>
  export default {
    props: ['fields'],
    data() {
      return {
        keyword: '',
        advanced: {
          field: '',
          condition: '',
          value: ''
        },
        filters: [],
        isShowFilter: false
      }
    },
    methods: {
      showFilter() {
        this.isShowFilter = true
      },
      hideFilter() {
        this.advanced.field = ''
        this.advanced.condition = ''
        this.advanced.value = ''
        this.isShowFilter = false
      },
      createFilter() {
        let filter = {
          label: `${this.advanced.field}:${this.advanced.condition}:${this.advanced.value}`
        }
        this.filters.push(filter)
        this.hideFilter()
      },
      removeFilter(index) {
        this.filters.splice(index, 1)
      }
    }
  }
</script>
