<template>
<div>
    <div id="import" class="modal fade">
        <div style="max-width: 80%;" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Importar Datos</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="input-group mb-3">
                                <b-form-file v-model="file" :state="Boolean(file)" accept=".csv" placeholder="Escoge o arrastra un archivo aquí..." drop-placeholder="Arrastra un archivo aquí..."></b-form-file>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="hasHeaders" v-model="hasHeaders">
                                            <label for="hasHeaders" class="custom-control-label">Cabeceras</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <b-table :items="items" :fields="headers" :busy="isBusy" sticky-header="450px">
                                <template v-slot:cell(index)="data">
                                    {{ data.index + 1 }}
                                </template>

                                <template v-slot:table-busy>
                                    <div class="text-center my-2">
                                        <b-spinner class="align-middle" variant="secondary"></b-spinner>
                                        <strong>Procesando...</strong>
                                    </div>
                                </template>
                            </b-table>
                        </div>
                    </div>
                    <div class="row">
                        <div v-show="mistakes.length > 0 || duplicates.length > 0" class="col-sm-10" style="overflow-y: scroll; max-height: 150px;">
                            <ul class="list-group">
                                <div v-for="(value, key) in duplicates">
                                    <li class="list-group-item list-group-item-action list-group-item-warning">Existen {{ value }} filas con el código '{{key}}'</li>
                                </div>
                                <div v-for="mistake in mistakes">
                                    <li class="list-group-item list-group-item-action list-group-item-warning" v-for="message in mistake.messages">Error en linea {{ mistake.line+1 }} : {{ message }}</li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <b-button variant="primary" v-bind:disabled='canCheck' v-on:click.prevent='validateItems()'>
                        <b-spinner v-show="isValidating" small type="grow"></b-spinner>
                        {{validationMessage}}
                    </b-button>
                    <b-button variant="primary" v-bind:disabled='isUploading' v-on:click.prevent='uploadItems()'>
                        <b-spinner v-show="isUploading" small type="grow"></b-spinner>
                        {{loadMessage}}
                    </b-button>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    props: ['fields', 'url'],
    computed: {
        canCheck() {
            if (this.items.length > 0 && !this.isValidating) return false;
            else return true;
        },
        headers() {
            let headers = ['index', ...this.fields]
            return headers
        }
    },
    data() {
        return {
            file: null,
            items: [],
            upload: false,
            duplicates: [],
            mistakes: [],
            errors: [],
            isBusy: false,
            isValidating: false,
            isUploading: false,
            loadMessage: 'Subir',
            validationMessage: 'Validar',
            hasHeaders: false
        }
    },
    methods: {
        csvJSON(csv, headers) {
            let lines = csv.split("\n")
            let result = []
            for (let line = this.hasHeaders ? 1 : 0; line < lines.length; line++) {
                let obj = {};
                let currentline = lines[line].replace("\r", "").split(";");
                for (let col = 0; col < currentline.length; col++) {
                    let field = currentline[col].toString().replace(',', '.')
                    if (field.toLowerCase() === "si") field = true
                    else if (field.toLowerCase() === "no") field = false
                    obj[this.fields[col].key] = field
                };
                result.push(obj);
            };
            result.pop();
            return result; // JavaScript object
        },
        setFocus(line) {
            this.items[line]._rowVariant = 'danger'
        },
        validateItems() {
            this.mistakes = []
            this.validationMessage = 'Validando'
            this.isValidating = true
            axios.post(`${this.url}/validation`, {
                import: this.items
            }).then(response => {
                this.upload = response.data.upload
                if (!this.upload) {
                    this.duplicates = response.data.duplicates
                    this.mistakes = response.data.mistakes
                    this.$bvToast.toast('Hay datos incorrectos', {
                        title: 'Advertencia',
                        variant: 'warning'
                    })
                } else {
                    this.$bvToast.toast('El listado es correcto, se puede subir', {
                        title: 'Exitoso',
                        variant: 'success'
                    })
                }
                this.validationMessage = 'Validar'
                this.isValidating = false
            }).catch(error => {
                this.errors = error.response.data;
            });
        },
        uploadItems() {
            this.loadMessage = 'Subiendo'
            this.isUploading = true
            axios.post(`${this.url}/upload`, {
                import: this.items
            }).then(response => {
                this.$bvToast.toast('Datos importados', {
                    title: 'Importación exitosa',
                    variant: 'success'
                })
                this.$root.$emit('bv::refresh::table', 'table')
                this.loadMessage = 'Subir'
                this.isUploading = false
                $('#import').modal('hide')
            }).catch(error => {
                this.errors = error.response.data;
            });
        }
    },
    watch: {
        file: function(newFile) {
            if (this.file !== null) {
                this.isBusy = true
                this.upload = false
                this.mistakes = []
                if (window.FileReader) {
                    let reader = new FileReader()
                    reader.readAsText(newFile)
                    reader.onload = event => {
                        let csv = event.target.result
                        this.items = this.csvJSON(csv)
                        this.isBusy = false
                    }
                    reader.onerror = evt => {
                        if (evt.target.error.name == "NotReadableError") {
                            alert("No se puede leer el archivo");
                        }
                    }
                } else {
                    alert('FileReader no está soportado en este navegador');
                }
            }
        }
    },
    mounted() {
        $('#import').on('hide.bs.modal', e => {
            this.file = null
            this.items = []
            this.upload = false
            this.mistakes = []
            this.errors = []
        })
    }
}
</script>
