<template>
  <div>
    <nav class="body-bar">
      <ul class="bar-list">
        <li v-for="item in items">
          <!--Item con submenu-->
          <div v-if="item.subitems" class="submenu">
            <div :class="`bar-item ${isDisplayed ? 'selected' : ''}`">
              <img v-if="item.img" class="bar-icon" :src="item.img">
              <i v-if="item.icon" :class="`bar-icon ${item.icon}`"></i>
              <div class="texto">{{item.label}}</div>
            </div>
            <ul class="bar-list">
              <li v-for="subitem in item.subitems">
                <router-link style="text-decoration: none;" :to="subitem.to">
                  <div :class="`bar-item ${selected === subitem.to ? 'selected' : ''}`">
                    <div class="texto">{{subitem.label}}</div>
                  </div>
                </router-link>
              </li>
            </ul>
          </div>
          <!--Item simple-->
          <div v-else>
            <router-link style="text-decoration: none;" :to="item.to">
              <div :class="`bar-item ${selected === item.to ? 'selected' : ''}`">
                <img v-if="item.img" class="bar-icon" :src="item.img">
                <i v-if="item.icon" :class="`bar-icon ${item.icon}`"></i>
                <div class="texto">{{item.label}}</div>
              </div>
            </router-link>
          </div>
        </li>
      </ul>
    </nav>
    <footer class="version">
      <div style="color: white;" class="bar-list">V1.0 Alfa</div>
    </footer>
  </div>
</template>

<script>
  export default {
    computed: {
      selected() {
        return this.$route.name
      },
      isDisplayed() {
        for (let item of this.items) {
          if (item.subitems !== undefined) {
            for (var subitem of item.subitems) {
              if (subitem.to === this.selected) {
                return true
              }
            }
          }
        }
        return false
      }
    },
    data() {
      return {
        items: [
          {
            to: 'dashboard',
            img: 'images/sidebar/icon-multi.svg',
            label: 'Multiapoyo'
          },
          {
            to: 'users',
            icon: 'fas fa-users fa-lg',
            label: 'Usuarios'
          },
          {
            to: 'hardware',
            icon: 'fas fa-laptop fa-lg',
            label: 'Equipos'
          },
          {
            to: 'providers',
            icon: 'fas fa-box-open',
            label: 'Proveedores'
          },
          {
            to: 'events',
            icon: 'fas fa-history fa-lg',
            label: 'Eventos'
          },
          {
            icon: 'fas fa-cogs fa-lg',
            label: 'Admnistración',
            subitems: [
              {to: 'units', label: 'Unidades'},
              {to: 'charges', label: 'Cargos'},
              {to: 'categories', label: 'Categorias'},
            ]
          }
        ]
      }
    }
  }
</script>
