<template>
  <div>
    <edit-component :edited="category" :url="'api/categories'">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="name">Nombre</label>
          <input id="name" type="text" placeholder="Nombre" class="form-control" v-model="category.name">
        </div>
      </div>
    </edit-component>
  </div>
</template>

<script type="text/javascript">
  import Vue from 'vue'
  import vSelect from 'vue-select'

  Vue.component('v-select', vSelect)
  Vue.component('edit-component', require('../../../components/EditComponent.vue').default)
  export default {
    props: ['category']
  }
</script>
